<ngx-fabricjs-whiteboard primaryColor="#2d358e"
                         [allowBackgroundChange]="true"
                         [noHeader]="true"
                         [fonts]="[
                         {name: 'NotoSansRegular', display: 'Noto Sans'},
                         {name: 'NotoSansLight', display: 'Noto Sans Light'},
                         {name: 'BadScriptRegular', display: 'BadScript'},
                         {name: 'Times New Roman', display: 'Times New Roman'},
                         {name: 'Arial', display: 'Arial'},
                         {name: 'Courier New', display: 'Courier New'},
                         ]"></ngx-fabricjs-whiteboard>
